
.nav_detail{
    margin: 20px 26px;
    /* color: black; */
}
.signinLogo{
    margin-right: 70px;
    
}
@media screen and (max-width: 800px) {
.signinLogo{
    margin-left: 13px;
}
}
.signinLogo span{
    margin: 0 4px;
}
.fa-circle{
    color: rgba(118, 192, 8, 0.856);
    font-weight: bold;
    font-size: 10px;
    margin: 6px;

}