
.Feedback_container{
    
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: #dbdbdb2a;
  
}

@media screen and (min-width: 800px) {
    .Feedback_container{
    margin: 6rem 10rem;}
}

#logo{
    width: 20px;
    height: 20px;
}
#desc{
    width: 100%;
}
.contact{
    /* color: white; */
    color: black;
}

.contact_page{
display: flex;
flex-wrap: wrap;
}