.left_nav{
    height: auto;
}
.UpdatePage{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 800px) {
    .UpdatePage{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .left_nav{
        width: 100%;
    }
   
  }